### C++ Project template
# unrelated directories
/.idea/
/.vscode/
/.vs/
/build*/
/cmake-build-*/
/bin/
/build/
/out/

# unrelated files
CMakeSettings.json
CMakeCache.txt
CMakeUserPresets.json
cmake_install.cmake
compile_commands.json
*.DS_store
*.exe
*.out
*.app
*.pch
*.gch
*.obj
*.o
*.lo
*.slo
*.lib
*.a
*.dll
*.so
*.dylib
